@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>mcv-bat</h2>
        <p>
            This sample app shows how you can build an AngularJS app on top of an ASP.NET
            Web API and enable authentication.
            Click on the About link to naviagte to the page with the AngularJS app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tutorial</h2>
        <p>Read this blog post with step by step instuctions to create this yourself.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source code</h2>
        <p>The source code is in GitHub</p>
        <p><a class="btn btn-default" href="https://github.com/andreasderuiter/bat-mvc">Source code &raquo;</a></p>
    </div>
</div>